@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: 'title';
    src: url('./stainger/StaingerPersonalUse-z8M9G.otf');
}

@font-face {
    font-family: 'text-background';
    src: url('./muller/Muller-ExtraBold-DEMO.otf');
}

@layer utilities {
    ::-webkit-scrollbar {
        @apply w-0;
    }
    
    ::-moz-scrollbar {
        @apply w-0;
    }

    * {
        font-family: "Manrope", sans-serif;
    }

    .title {
        font-family: "title", "sans-serif";
    }

    .text-background {
        font-family: "text-background", "serif";
        /* @apply text-[70px]; */
    }

    @media (min-width: 820px) {
        *{
            @apply text-[18px];
        }
    }

    img {
        @apply w-full object-cover;
    }

    .test {
        @apply flex justify-center items-center title;
    }



}