@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: 'title';
    src: url('./Helvetica.ttf');
}

@font-face {
    font-family: 'body';
    src: url('./PlainLightRegular/PlainLightRegular.ttf');
}

@layer utilities {
    ::-webkit-scrollbar {
        @apply w-0;
    }
    
    ::-moz-scrollbar {
        @apply w-0;
    }

    * {
        font-family: "body", sans-serif;
    }

    .title {
        font-family: "title", "serif";
    }

    .text-background {
        color: white;
        mix-blend-mode: difference;
    }

    @media (min-width: 820px) {
        *{
            @apply text-[18px];
        }
    }

    img {
        @apply w-full object-cover;
    }

    .test {
        @apply flex justify-center items-center title;
    }



}